@model GeekStream.Models.FeedModel
@foreach(var item in Model.Items)
{
    if(string.IsNullOrEmpty(item.Title))
    {
        continue; // Protect the feed from invalid items.
    }
	<h3><a href="@item.Url" target="_blank">@item.Title</a></h3>
	<div class="entry">
		<div class="meta">
			Published <span>@item.Published.Date.ToShortDateString()</span> in <span>@Html.ActionLink(item.FeedTitle, "Feed", "Home", new { id = item.FeedId }, null)</span>
			<span class="info">@item.Clicks</span>
		</div>
		@item.Summary
	</div>
}
