@model GeekStream.Models.SearchResultModel


@foreach(var item in Model.Results)
{
    if(string.IsNullOrEmpty(item.FeedItem.Title))
    {
        continue; // Protect the feed from invalid items.
    }

<h2><a href="@(item.FeedItem.Url + "?relatedquery=" + Model.Query)" target="_blank">@item.FeedItem.Title</a></h2>
<div class="entry">
    <div class="meta">
        Published <span>@item.FeedItem.Published.Date.ToShortDateString()</span> in <span>@Html.ActionLink(item.FeedItem.FeedTitle, "Feed", "Home", new { id = item.FeedItem.FeedId }, null)</span>
        <span class="info">@item.Clicks</span>
    </div>
    @item.FeedItem.Summary
</div>
}