@model GeekStream.Models.FeedPageModel
@{
    ViewBag.Title = "Showing feed " + Model.Feed.Title;
    var ajaxOptions = new AjaxOptions();
    ajaxOptions.UpdateTargetId = "content";
    ajaxOptions.InsertionMode = InsertionMode.InsertAfter;
    ajaxOptions.OnBegin = "$('#loader').remove();";
    var url = Url.Action("Feed", "Home", new { id = Model.Feed.Id }, "http");
}

<div id="content" style="text-align: left;">
@if(Model.PageIndex == 0)
{
    <h2 style="margin-top:32px;">@Model.Feed.Title</h2>
    <p>
        @Model.Feed.Description
    </p>
    <div style="color: #B6B6B6; font-weight: normal;">
        @Model.TotalResults items loaded in @(((TimeSpan)ViewBag.QueryTime).TotalSeconds) seconds
    </div>
}

@Html.DisplayFor(m => m.Items, "FeedItems")
</div>
@if (Model.TotalResults > Model.Skipped + Model.Items.Length)
{
    @Ajax.ActionLink("Load More", "Feed", new { id = Model.Feed.Id, pageIndex = Model.PageIndex + 1 }, ajaxOptions, new { id = "loader" })
}