@model GeekStream.Models.FeedModel
@{
    ViewBag.Title = "Showing feed " + Model.Feed.Title;
    Html.RenderPartial("AlternateCSS");
    var ajaxOptions = new AjaxOptions();
    ajaxOptions.UpdateTargetId = "content";
    ajaxOptions.InsertionMode = InsertionMode.InsertAfter;
    ajaxOptions.OnBegin = "$('#loader').remove();";
    var url = Url.Action("Feed", "Home", new { id = Model.Feed.Id }, "http");
    var selectItems = new[] {new SelectListItem { Text = "Recent", Value = "0", Selected = Model.SortedByPopular },
                              new SelectListItem { Text = "Popular", Value = "1", Selected = Model.SortedByPopular }};
}

@if(Model.PageIndex == 0)
{
    <div style="margin-top:24px; color: #B6B6B6; font-weight: normal;">
        <h2>@Model.Feed.Title</h2>

        @Model.TotalResults items loaded in @(((TimeSpan)ViewBag.QueryTime).TotalSeconds) seconds | Showing :@Html.DropDownList("orderby", selectItems)
    </div>
    
    <script type="text/javascript">
            $("#orderby").change(function () {
                window.location = "@url" + "?popular=" + ($(this).val() == 1);
            })
    </script>
}

@Html.DisplayForModel()

@*@for (int i = 0; i < Model.Items.Count(); i++)
{
    @Html.DisplayFor(m => m.Items[i], "FeedItemSummary")
}*@

@if (Model.TotalResults > Model.Skipped + Model.Items.Length)
{
    @Ajax.ActionLink("Load More", "Feed", new { id = Model.Feed.Id, pageIndex = Model.PageIndex + 1, popular = Model.SortedByPopular }, ajaxOptions, new { id = "loader" })
}